@page
@model PetrolTracker.Pages.Info
@{
    ViewData["Title"] = "Info";
}

<link href="/css/general.css" rel="stylesheet" type="text/css" />
<link href="/css/info.css" rel="stylesheet" type="text/css" />

<div class="global-container">
    <div class="column-direction card-width">
            <span>Заправка</span>
    </div>
    <div class="row-direction container-width container-height">
        <div class="column-direction card-height card-width">
            <div class="column-direction container-width">
                <span>Оценить</span>
            </div>
            <div class="column-direction container-width container-height scroll-y">
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
            </div>
        </div>
        <div class="column-direction card-height card-width scroll-y">
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
                <div class="row-direction container-width">
                    <span>Заправка</span>
                    <span>***********</span>
                </div>
        </div>
    </div>
</div>
